/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box { display: block; }

/* Displays the option to enter an international phone */
.phone-box { display: block; }
/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box {
    display: block;
}

/* Displays the option to enter an international phone */
.phone-box {
    display: block;
}

a#cart-choose-more-products {
    display:none;
}



@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300;1,400;1,500&display=swap');


.logo-carrinho {
    margin-top: 50px;
}

div#app-container {

    min-height: 390px;
}

iframe.span12 {
    min-height: 435px !important;
}

a.clone-item.btn.btn-mini {
    display: none !important;
}

.container.container-main.container-order-form {
    margin-top: 45px;
}

.PaymentCardNumber input,
.PaymentCardCVV input {
    height: 27px !important;
}


.vtex-order-placed-2-x-orderPaymentItem .vtex-button__label {
    color: #000 !important;
    border: 3px solid #000;
    padding: 14px;
}


a.add-item-attachment.btn.btn-mini {
    color: #fff !important;
    background-color: #b48736 !important;
    border: none !important;
    box-shadow: none !important;
    background-image: none;
    border-radius: 0px;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: none !important;
}


.add-item-attachment-container .add-item-attachment {
    font-size: 0px !important;
    padding-top: 5px;
}

.add-item-attachment-container .add-item-attachment::before {
    content: "CLIQUE PARA CONFIRMAR ASSINATURA";
    font-size: 12px !important;
}

.vtex-order-placed-2-x-orderPlacedHeader .vtex-order-placed-2-x-noticesList .vtex-button__label {
    color: #000;
    border: 3px solid #000;
    padding: 14px;
}


.vtex-order-placed-2-x-section--bank-invoice .vtex-button__label span {
    color: #000 !important;
}


@media (max-width: 960px) {
    .logo-carrinho {
        margin-top: 6px !important;
    }

    .selo-compra-segura {
        position: relative;
        margin-top: 14px !important;
        float: right;
        margin-right: 20px;
    }

    .selo-compra-segura img {
        max-width: 157px !important;
        margin-top: 4px;
    }

    .logo-carrinho img {
        max-width: 132px;
        margin-top: 6px;
    }
}



@media (min-width: 1200px) {

    .container-cart,
    .container-order-form {
        width: 970px;
        margin-top: 20px !important;
    }
}



@media only screen and (max-width: 980px) {
    .takei-step-by-step {
        display: none;
    }

    .container {
        margin-top: 0px !important;
    }

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .bg-topo-carrinho {
        background-image: none !important;
    }

    hr {
        display: none;
    }

    .logo-carrinho {
        margin-left: 15px;
        z-index: 99;
        position: relative;
    }

    .selo-compra-segura {
        position: relative;
        margin-top: 63px;
        float: right;
        margin-right: 20px;
    }

    body .container .container-cart {
        padding: 15px !important;
    }

    .footer-barra-bg {
        background-color: #F1E5C9 !important;
    }

    .termos {
        background: url(https://tfcuey.vteximg.com.br/arquivos/bg-rodape.jpg);
        background-color: #F1E5C9 !important;
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 65px;
    }

    .pagamentos-selos ul {
        list-style: none;
    }

    .pagamentos-selos ul li b {
        display: block;
        font-size: 14px;
        line-height: 18px;
        padding: 20px 0 10px;
        color: #771445;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .pagamentos-selos ul li img {
        margin: auto;
        display: block;
    }

    .termos p {
        padding: 15px;
    }

    .copyright-right ul li {
        float: left;
    }

    .full-cart .cart table tbody tr td.product-name a,
    .full-cart .cart table tbody tr td.bundle-item-name span {
        color: #000;
    }

    .developers .copyright-right {
        max-width: 190px;
        margin: auto;
    }

    div#app-top {
        padding: 15px;
    }

    div#app-container {
        padding: 15px;
    }

    .copyright-right ul {
        list-style: none;
    }

    .checkout-container {
        padding: 5%;
        max-width: 90%;
    }

    body .container h1 {
        padding: 0px 15px;
    }

    .pgto-selos-esq b {
        display: block;
        font-size: 14px;
        line-height: 18px;
        padding: 20px 0 10px;
        color: #771445;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .lista-formas-de-pagamentos li {
        list-style: none;
        float: left;
    }

    .lista-formas-de-pagamentos li:nth-child(1) {
        clear: both;
        float: inherit;
    }

    .lista-formas-de-pagamentos li:nth-child(1) img {
        margin: auto;
        display: block;
    }

    .pgto-selos-dir b {
        display: block;
        font-size: 14px;
        line-height: 18px;
        padding: 20px 0 10px;
        color: #771445;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        clear: both;
    }

    .lista-selos-de-seguranca li {
        list-style: none;
        float: left;
    }

    .lista-formas-de-pagamentos li:nth-child(2) {
        margin-left: 120px;
        margin-top: 6px;
        margin-right: 5px;
    }




    .lista-formas-de-pagamentos li:nth-child(3) {
        margin-top: 10px;
    }

    ul.lista-formas-de-pagamentos {
        margin: auto;
    }


    .lista-selos-de-seguranca li:nth-child(2) img {
        max-width: 75%;
        float: right;
    }

    .lista-selos-de-seguranca {
        max-width: 275px;
        margin: auto;
    }

}






/* /files/checkout5-custom.css */
.bg-topo-carrinho {
    background-color: black !important;
    height: 75px;
    margin-top: -20px;
    padding-top: 0px;
    position: absolute;
    width: 100%;
    background: url(https://tfcuey.vteximg.com.br/arquivos/checkout-bg-topo_v2.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.container {
    margin-top: -53px;
}





body .x-checkout-steps {
    width: 100%;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width: 980px) {
    .full-cart .cart table tbody tr td.product-name .seller {
        display: none;
    }

    .full-cart .cart table tbody tr td.quantity {
        width: 180px;
    }

    .item-multiplier-label {
        display: block;
        margin-top: 3px;
    }

    .full-cart .cart table tbody tr td.product-price {
        margin-top: 4px;
    }

    .cart-fixed {
        height: auto !important;
    }

    a#cart-link-coupon-add {
        color: #000;
        text-transform: uppercase;
        padding: 10px 20px;
        border: 1px solid;
    }

    span.link-choose-more-products-wrapper {
        margin-top: 25px;
        display: block;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    span.link-choose-more-products-wrapper a {
        color: #000;
    }

    .full-cart .cart-links-bottom .btn-success {
        width: auto;
        float: right;
        text-transform: uppercase;
        margin-left: 17px;
    }

    #shipping-calculate-link {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 267px;
        margin: auto;
        display: block;
    }


    p#go-to-cart-button {
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    p#go-to-cart-button a {
        color: #000;
    }
}


@media only screen and (min-width: 414px) and (max-width: 959px) {
    body .x-checkout-steps {
        padding: 0 26px;
    }
}

@media only screen and (min-width: 960px) {
    body .x-checkout-steps {
        margin: 37px 0 0;
    }
}

body .x-checkout-steps-wrapper {
    width: 100%;
    padding-bottom: 25px;
}

@media only screen and (min-width: 960px) {
    body .x-checkout-steps-wrapper {
        padding-bottom: 30px;
    }

    .takei-step-by-step {
        float: left;
        width: 90%;
        margin-top: 90px;
        margin-bottom: 60px;
    }


    body .x-checkout-steps .step-icon {
        position: relative;
        width: 52.14px;
        height: 52.14px;
        border: 2px solid #c4c4c4;
        border-radius: 50%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
    }








    @media screen and (max-width: 413px) {
        body .x-checkout-steps .step-icon {
            width: 42px;
            height: 42px;
        }
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon {
            width: 66px;
            height: 66px;
            border: 3px solid #c4c4c4;
        }
    }

    body .x-checkout-steps .step-icon:before {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        font-family: Gotham Book;
        font-size: 10px;
        color: #5d5d5d;
        line-height: 14px;
    }

    @media screen and (max-width: 413px) {
        body .x-checkout-steps .step-icon:before {
            font-size: 9px;
        }
    }

    @media only screen and (max-width: 959px) {
        body .x-checkout-steps .step-icon:before {
            transform: translate(-50%, calc(100% + 10.3px));
        }
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon:before {
            font-size: 12px;
            line-height: 16px;
            transform: translate(-50%, calc(100% + 13px));
        }
    }

    body .x-checkout-steps .step-icon:not(:first-child) {
        margin-left: 45px;
    }

    @media screen and (max-width: 413px) {
        body .x-checkout-steps .step-icon:not(:first-child) {
            margin-left: 40px;
        }
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon:not(:first-child) {
            margin-left: 125px;
        }
    }

    body .x-checkout-steps .step-icon:not(:last-child):after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 45px;
        height: 1px;
        background: #c4c4c4;
    }

    @media screen and (max-width: 413px) {
        body .x-checkout-steps .step-icon:not(:last-child):after {
            width: 40px;
            transform: translateX(calc(100% + 2px));
        }
    }

    @media only screen and (max-width: 959px) {
        body .x-checkout-steps .step-icon:not(:last-child):after {
            transform: translateX(calc(100% + 2px));
        }
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon:not(:last-child):after {
            width: 125px;
            height: 2px;
            transform: translateX(calc(100% + 3px));
        }
    }

    body .x-checkout-steps .step-icon:not(:last-child).is--complete:after {
        height: 2px;
        background: #FF6C01;
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon:not(:last-child).is--complete:after {
            height: 3px;
        }
    }

    @media only screen and (max-width: 959px) {
        body .x-checkout-steps .step-icon:not(:last-child).is--active:after {
            transform: translateX(calc(100% + 3px));
        }
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon:not(:last-child).is--active:after {
            transform: translateX(calc(100% + 5px));
        }
    }

    body .x-checkout-steps .step-icon.is--complete {
        border: 2px solid #FF6C01;
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon.is--complete {
            border: 3px solid #FF6C01;
        }
    }

    body .x-checkout-steps .step-icon.is--active {
        border: 3px solid #FF6C01;
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .step-icon.is--active {
            border: 5px solid #FF6C01;
        }
    }

    body .x-checkout-steps .step-icon.is--active svg path {
        fill: #000;
    }

    body .x-checkout-steps .x-cart:before {
        content: "CARRINHO";
        font-family: 'Work Sans', sans-serif;
    }

    body .x-checkout-steps .x-email:before {
        content: "LOGIN";
        font-family: 'Work Sans', sans-serif;
    }

    body .x-checkout-steps .x-payment:before {
        content: "PAGAMENTO";
        font-family: 'Work Sans', sans-serif;
    }

    body .x-checkout-steps .x-orderplaced:before {
        content: "CONFIRMAÇÃO";
        font-family: 'Work Sans', sans-serif;
    }

    @media only screen and (min-width: 960px) {
        body .x-checkout-steps .x-cart svg {
            width: 32.73px;
            height: 30px;
        }

        body .x-checkout-steps .x-email svg {
            width: 24.9px;
            height: 28.05px;
        }

        body .x-checkout-steps .x-payment svg {
            width: 36.2px;
            height: 24.13px;
        }

        body .x-checkout-steps .x-orderplaced svg {
            width: 25.37px;
            height: 17.74px;
        }
    }

    .field-help {
        top: 25px;
    }



    td.shipping-date.empty,
    th.quantity-price,
    th.quantity,
    th.product-price,
    th.shipping-date,
    th.product {
        display: none;
    }


    .cart-items .product-name a {
        width: 350px;
        color: #000;
        font-family: 'Work Sans', sans-serif;
    }

    .srp-main-title {
        color: #FF6C01;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
    }

    span.total-selling-price,
    span.new-product-price {
        font-weight: bold;
    }

    .coupon-label label {
        color: #FF6C01;
        font-size: 20px;
        text-align: left;
    }

    .selo-compra-segura {
        display: block;
        top: 52px;
        position: absolute;
        right: 160px;
    }

    .footer-barra-roxa-escura {
        background: url(https://tfcuey.vteximg.com.br/arquivos/checkout-bg-footer-preto.png);
        height: 50px;
        background-repeat: no-repeat;
        background-position: top right;
        background-color: black;
    }

    .footer-barra-bg {
        background: url(https://tfcuey.vteximg.com.br/arquivos/checkout-bg-footer-laranja-1.png);
        height: 160px;
        background-repeat: repeat-x;
        background-position: bottom center;
        background-color: #c79a00;
    }


    .pagamentos-selos ul li:nth-child(1) {
        list-style: none;
        float: left;
    }

    .pagamentos-selos ul li:nth-child(2) {
        list-style: none;
        float: right;
    }


    .pagamentos-selos ul {
        margin-top: 35px;
    }

    .pagamentos-selos ul li b {
        color: #A30445;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        margin-right: 15px;
    }

    .footer-developers-termos {
        margin-top: 30px;
    }

    .footer-developers-termos .termos {
        max-width: 51%;
        float: left;
        margin-top: 21px;
    }


    .termos p {
        font-family: 'Work Sans', font-family;
    }

    .developers .copyright-right {
        float: right;
        margin-top: 73px;
        margin-bottom: 5px;
    }

    .developers .copyright-right ul li {
        list-style: none;
        float: left;
    }

    #cart-to-orderform {
        background-image: none;
        background-color: #00801F;
        border: none;
        border-radius: 0px;
        width: 260px;
        font-family: 'Work Sans', sans-serif;
        font-size: 0;
    }
    #cart-to-orderform:before{
        content:"Finalizar Compra";
        color: white;
        font-size: 16px;
    }


    .link-choose-more-products-wrapper {
        display: block;
        text-align: center;
    }


    .cart-links-bottom {
        display: flex;
        flex-direction: column;
    }

    .cart-links-bottom .link-choose-more-products-wrapper {
        order: 2;
        font-family: 'Work Sans', sans-serif;
        margin-top: 10px;
        text-align: center;
        margin-left: 20px;
    }

    .cart-links-bottom .btn-place-order-wrapper {
        order: 1;
    }

    .link-print-cart-wrapper {
        order: 3;
    }



    .link-choose-more-products,
    .link-print-cart {
        margin-right: 15px;
        color: #000;
        text-decoration: underline;
    }

    .lista-formas-de-pagamentos {
        margin: 0;
    }

    .lista-formas-de-pagamentos li {
        list-style: none;
    }


    .lista-formas-de-pagamentos li:nth-child(1) {
        float: left;
    }

    .lista-formas-de-pagamentos li:nth-child(2) {
        float: left;
    }

    .lista-formas-de-pagamentos li:nth-child(2) img {
        border-radius: 3px;
        max-width: 48px;
        margin-left: 5px;
        padding: 4.5px 1px;
        background-color: #fff;
        /* height: 33px; */
        border: 1px solid #DEDBD3;
        margin-right: 2px;
    }


    .lista-formas-de-pagamentos li:nth-child(3) img {
        border-radius: 3px;
        max-width: 49px;
        margin-left: 5px;
        padding: 2.5px 2px;
        background-color: #fff;
        /* height: 33px; */
        border: 1px solid #DEDBD3;
    }

    .lista-selos-de-seguranca li:nth-child(1) {
        float: left;
    }


    .lista-selos-de-seguranca li:nth-child(2) img {
        max-width: 115px;
        margin-top: 8px;
        margin-left: 15px;
    }


    .pgto-selos-esq {
        float: left;
        width: 50%;
    }


    .col-pague-com b {
        display: block;
        font-size: 14px;
        line-height: 18px;
        padding: 20px 0 10px;
        color: #771445;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }


    .lista-selos-de-seguranca {
        list-style: none;
    }


    .add-service-container a,
    .add-service-container a:hover {
        background: #000;
        color: #BA9916 !important;
        text-shadow: none !important;
    }

    .gift-message-add {
        background: #000;
        color: #BA9916 !important;
        padding: 3px 50px;
        font-family: 'Work Sans', sans-serif;
    }




    @media screen and (max-width: 980px) {

        .add-service-container a,
        .add-service-container a:hover {
            background: #000 !important;
            color: #BA9916 !important;
            text-shadow: none !important;
        }



    }
    #payment-group-custom201PaymentGroupPaymentGroup,
    #payment-group-creditDirectSalePaymentGroup,
    #payment-group-debitDirectSalePaymentGroup {
        display: none;
    }



    /* .add-service-container a::after {
   content: "Mensagem personalizada";
   color: #BA9916;
    font-size: 13px;
}*/

}



#cart-to-orderform {
    background-image: none;
    background-color: #00801F;
    border: none;
    border-radius: 0px;
    width: 260px;
    font-family: 'Work Sans', sans-serif;
    font-size: 0;
}
#cart-to-orderform:before{
    content:"Finalizar Compra";
    color: white;
    font-size: 16px;
    line-height: 22px;
}
#cart-to-orderform:hover{
    transform:scale(1.05);
    font-weight: bold;  
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1); 
}

a#orderform-to-cart {
    display: none;
}

span.link-choose-more-products-wrapper {
    display: none;
}

.cart-template.full-cart.span12.active {
    padding:20px
}
a#orderform-minicart-to-cart {
    display: none;
}
#bricks-component-tqcr3VKt-d-Kz8dWxOfwOA-wrapper.rdstation-popup-position-bottom_right.floating-button.floating-button--close .bricks--floating--button {
  
    display: none !important;
}